<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>

    <h1>Please Login</h1>
    <form action="/auth/openid" method="post">
        <input name="submit" type="image" src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png"
            alt="Sign in through Steam" />
    </form>
</body>

</html>