<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Steampals | Landing</title>

    <% include _layout/Resources.ejs %>

    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">SteamPals.io</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="#">GitHub</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Welcome to SteamPals!</h1>
        <p class="lead">Don't know what to play with your friends? How about see what games you and all your friends have in common!</p>
        <p class="lead">
          <form id="signinForm" action="/auth/openid" method="post">
            <input name="submit" type="image" height="35px" src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png"
                alt="Sign in through Steam" />
          </form>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>SteamPals - Early Access - Developed by <a href="https://www.linkedin.com/in/daniel-lynch-016448124/">@daniel-lynch</a>, <a href="https://linkedin.com/in/anthony-loukinas">@anthonyloukinas</a>.</p>
        </div>
      </footer>
    </div>

  </body>
</html>