<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <a class="navbar-brand" href="#">SteamPals.io</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="active">
        <a class="nav-link" href="/compare"><span class="fas fa-tachometer-alt"></span> Compare</a>
      </li>
      <li>
        <a class="nav-link" href="/github"><span class="fa fa-cubes"></span> GitHub</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%- user[0].personaname %></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/auth/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>