body {
    background-color: #282d36;
}

p {
    font-size: 22px;
    margin: 0;
}

/* Profile stuff */

.online,.away {
    color: #4b90ab;
}

.online.friendName,.away.friendName {
    color: #66c1e5;
}

.inGame {
    color: #90c056;
}

.inGame.friendName {
    color: #d1eab4;
}

/* Card stuff */

.card {
    border: 0;
    margin: 4px;
    width: '22rem';
}
.card:hover {
    margin: 0 !important;
    border: #7c7b94;
    border-width: 4px;
    border-style: solid;
    width: '22rem';
}

.friendSelected {
    margin: 0 !important;
    border: #7c7b94;
    border-width: 4px;
    border-style: solid;
    width: '22rem';
}

.friendsCard {
    cursor: pointer;
    background-color: #1f2127;
}

/* Game stuff */
.col-md-6:hover .gameCard {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: .5;
}

.compGameText {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
}

.gameInfo {
    background-color: #224970;
    color: white;
    border: #7c7b94;
    border-width: 4px;
    border-style: solid;
}

/* Navbar stuff */

.navbar {
    margin-bottom: 20px;
}

.navbar-dark {
    background-color: #212329 !important;
}


/* Friends nav */
.friendsNav {
    margin-bottom: 0px !important;
    color: #ffffff
}




.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(0, 0, 0);
  }

.middleTop {
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.middleBottom {
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}  

.col-md-6:hover .middleTop, .col-md-6:hover .middleBottom {
    opacity: 1;
}

.text {
    color: white;
    font-size: 25px;
}

.text svg {
    vertical-align: 0 !important;
}
.underline {
    cursor: pointer;
    text-decoration: underline;
}