body {
    background-color: #282d36;
}

p {
    font-size: 22px;
    margin: 0;
}

/* Profile stuff */

.onlineName,.awayName {
    color: #66c1e5;
}

.online,.away {
    color: #4b90ab;
}

.inGame {
    color: #90c056;
}

.inGameName {
    color: #d1eab4;
}

/* Card stuff */

.card {
    border: 0;
    margin: 4px;
    width: '22rem';
}
.card:hover {
    margin: 0 !important;
    border: #949494;
    border-width: 4px;
    border-style: solid;
    width: '22rem';
}

.friendsCard {
    background-color: #1f2127;
}




/* Navbar stuff */

.navbar {
    margin-bottom: 20px;
}

.navbar-dark {
    background-color: #212329 !important;
}


/* Friends nav */
.friendsNav {
    margin-bottom: 0px !important;
    color: #ffffff
}